* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 2%;
  max-width: 1200px;
  padding-bottom: 6%;
}

.logo {
  width: 120px;
}

.hero {
  padding: 6% 0;
  height: 600px;
  background-image: url(img/header-bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  align-items: center;
}

.hero .header-title {
  color: #fff;
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  line-height: 1.2em;
}

.btn-hero {
  background-color: #fff;
  padding: 15px 80px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.categories-title {
  background-color: #fff;
  padding: 50px 15px;
}

.categories-title h2 {
  font-size: 3em;
  color: rgb(34, 33, 33);

}

.categories-title p {
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(44, 44, 44);
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.grid li {
  height: 350px;
  padding: 15px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.grid li.small {
  width: 35%;
}

.grid li.large {
  width: 65%;
}

.grid li.small2 {
  width: 35%;
}

.grid li.large2 {
  width: 65%;
}
.small {
  background-image: url(img/nature.jpg); 
}

.small2 {
  background-image: url(img/pictures.jpg);
}

.large {
  background-image: url(img/daily.jpg);
}

.large2 {
  background-image: url(img/analysis.jpg);
  align-items: flex-end;
}

.medium {
  background-image: url(img/together.jpg);
  width: 100%;
  justify-content: center;
}

.card-title {
  font-size: 3em;
  text-transform: lowercase;
  padding-bottom: 0;
}

.card-description {
  font-weight: bold;
}
.card-title, .card-description {
  padding: 15px 25px 0px 25px;
}

.container-footer {
  padding: 5% 7%;
  background-color: rgba(204, 204, 204, 0.3);
}

.footer-title {
  font-size: 3.5em;
  color: rgb(44, 44, 44);
  padding-left: 3%;
  
}
.footer-description {
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 2em;
  padding-left: 3%;
  font-size: 1.1em;
}

.graph-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.column {
  width: 200px;
}

.column .header {
  padding: 15px 0;
  background-color: #1b558f;
}

.column .header h4 {
  font-size: 2.2em;
  padding-left: 25px;
  color: #fff;
}

.column .header p {
  padding-left: 25px;
  font-size: 1.3em;
  color: #fff;
  font-weight: bold;
}

.column .content {
  background-color: #1976D2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.column .content p {
  color: #fff;
  font-size: 0.8em;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.column2 .content {
  height: 15vh;
}

.column3 .content {
  height: 20vh;
}

.column4 .content {
  height: 25vh;
}

.column5 .content {
  height: 30vh;
}

.column6 .content {
  height: 35vh;
}