* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* header */
.logo {
  width: 150px;
}

.hero {
  padding: 6% 0;
  height: 600px;
  background-image: url(img/header-bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  align-items: center;
}

.hero .header-title {
  color: #fff;
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  line-height: 1.2em;
}

.btn-hero {
  background-color: #fff;
  padding: 15px 80px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

/* container-main */
.container {
  margin: 0 6vw;
  padding-bottom: 6%;
}

.categories-title {
  background-color: #fff;
  margin: 3rem 0;
}

.categories-title h2 {
  font-size: 4em;
  color: rgb(44, 44, 44);
}

.categories-title p {
  font-size: 1.4em;
  font-weight: bold;
  color: rgb(44, 44, 44);
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid li {
  height: 450px;
  padding: 0 25px 25px 0;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.grid li.small {
  flex-basis: 35%;
}

.grid li.large {
  flex-basis: 65%;
}

.grid li.small2 {
  flex-basis: 35%;
}

.grid li.large2 {
  flex-basis: 65%;
}
.small {
  background-image: url(img/nature.jpg); 
}

.small2 {
  background-image: url(img/pictures.jpg);
}

.large {
  background-image: url(img/daily.jpg);
}

.large2 {
  background-image: url(img/analysis.jpg);
  align-items: flex-end;
}

.medium {
  background-image: url(img/together.jpg);
  width: 100%;
  justify-content: center;
}

.card-title {
  font-size: 4em;
  text-transform: lowercase;
  padding-bottom: 0;
}

.card-title, .card-description {
  margin: 15px 25px 0 25px;
}

.card-description {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 25px 0 25px;
}

/* footer */
.container-footer {
  padding: 5% 6vw;
  background-color: rgba(204, 204, 204, 0.3);
}

.footer-title {
  font-size: 4em;
  color: rgb(44, 44, 44);
}
.footer-description {
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 2em;
  font-size: 1.3em;
}

.graph-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.column {
  width: 200px;
  margin-right: 2rem;
}

.column .header {
  padding: 15px;
  background-color: #1b558f;
}

.column .header h4 {
  font-size: 2.2em;
  color: #fff;
}

.column .header p {
  font-size: 1em;
  color: #fff;
  font-weight: bold;
}

.column .content {
  background-color: #1976D2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.column .content p {
  color: #fff;
  font-size: 0.8em;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.column2 .content {
  height: 15vh;
}

.column3 .content {
  height: 20vh;
}

.column4 .content {
  height: 25vh;
}

.column5 .content {
  height: 30vh;
}

.column6 .content {
  height: 35vh;
}

/* responsive design */
@media (max-width: 580px) {
  .hero .header-title {
    font-size: 1em;
  }
}


@media (max-width: 1024px) {
  .grid li.small{
    flex: 1 0 600px;
  }
  .grid li.small2 {
    flex: 1 0 600px;
  }
  .grid li.medium {
    flex: 1 0 600px;
  }
  .grid li.large {
    flex: 1 0 600px;
  }
  .grid li.large2 {
    flex: 1 0 600px;
  }
  .grid li {
    padding: 15px 0;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 9% 0;
  }
  .hero .header-title {
    font-size: 3.5rem;
  }

  .grid li.small{
    flex: 1 0 88vw;
  }
  .grid li.small2 {
    flex: 1 0 88vw;
  }
  .grid li.medium {
    flex: 1 0 88vw;
  }
  .grid li.large {
    flex: 1 0 88vw;
  }
  .grid li.large2 {
    flex: 1 0 88vw;
  }
}

@media (min-width: 1361px) {
  .hero {
    padding: 5% 0;
  }
}

@media (min-width: 1441px) {
  .hero {
    padding: 4% 0;
  }
}

@media (min-width: 2001px) {
  .hero {
    padding: 3%;
  }
}